*{
    margin: 0;
    padding: 0;
}

h1{
    color:orange;
}

body{
    background-color: #305050;
    text-align: center;
}

.cabeçalho{
    background-color: #020917;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0;
  
}

.cabeçalho-imagem{
    width: 20%;
}
.cabeçalho-titulo{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px; 
}

.texto-titulo{
    color: rgb(255, 165, 0);
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.texto-conteudo{
    color: white;
    display: flex;
}


.texto-div-conteudo{
width: 35%;
text-align: justify;
}
footer{
    color: orange;

}
